# Java / Maven
target/
*.class
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# React
node_modules/
dist/

# Environment variables
.env

# Python
__pycache__/
venv/
*.pyc

# Windows
Thumbs.db

# macOS
.DS_Store